<h2>新規ユーザ登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>


  <div><%= f.label :username %><br />
  <%= f.text_field :username, autofocus: true %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.label :role %>(input 'admin' or 'user' for test...)<br />
    <%= f.select :role, [['user'],['admin']] ,prompt:"ユーザの役割（管理者or利用者）※テスト用にここで選択" %></div>


  <div><%= f.submit "新規ユーザ登録する" %></div>
<% end %>

<%= render "devise/shared/links" %>
